.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (min-width: 1000px) {
  .project-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.project-cell {
  text-align: center;
  border-radius: 20px;
}

.project-img {
  width: 90%;
  height: 15vh;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 20px;
}

.project-title {
  text-align: left;
  margin-left: 5%;
  font-size: 1.2rem;
  font-weight: bold;
}

.project-subtitle {
  text-align: left;
  margin-left: 5%;
}
