table {
  border-collapse: collapse;
  margin: auto;
}

th,
td {
  border: 1px solid black;
  padding: 5px 10px;
}

.center {
  text-align: center;
}

.row-bar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}

.phone {
  width: 25%;
}
