h1,
h2,
table,
ul,
p {
  font-family: "IBM Plex Mono", serif;
}

p {
  text-align: justify;
}

body {
  background-color: #fae1df;
  margin: 0;
}

a {
  color: inherit; /* Use inherited color */
}

.align-center {
  text-align: center;
}
