h1,
p {
  font-family: "IBM Plex Mono", serif;
}

body {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  background-color: #fae1df;
}

a {
  color: inherit; /* Use inherited color */
}

.contact-list {
  display: flex;
  font-size: 40px;
  gap: 20px;
}
